#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.posts {
  list-style: none;
  margin-top: 100px;
  background-color: aqua;
  height: 60px;
  border-radius: 20px;
  color: black;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.postDiv {
  border: 1px solid #ccc;
}
.yellowInput {
  background-color: #fcf467;
  width: 97%;
  margin-top: 0px;
  height: 37px;
  font-size: 15px;
  color: black;
  text-align: center;
}

.postLength {
  border: 1px solid #ccc;
  width: 220px;
  margin: 10px 60px;
  height: 120px;
  background-color: #ddf5a3;
  box-shadow: 7px 6px 9px hsl(90, 66%, 71%);
}
.ul {
  display: flex;
  flex-direction: column-reverse;
}

.closeBtn {
  width: 10px;
  height: 10px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -30px;
  margin-right: -250px;
  position: absolute;
}
